<%- include('../../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="/js/validationConsultForm.js"></script>
        <h2><%= pageTitle %></h2>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

        <input type="hidden" name="consId" value="<%= cons.consId %>">
        <span></span>

        <input 
        <% if (validationErrors != null) { %>
        class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>"
        <% } %>
        type="text" name="firstName" id="firstName" placeholder="Imię: 2-60 znaków" value="<%= cons.firstName %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorFirstName" class="errors-text">
            <% if (validationErrors != null) { %>      
            <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
                <%= validationErrors.find(e => e.path.includes('firstName')).message %>
            <% } %>
            <% } %>


        </span>
        
        <input 
        <% if (validationErrors != null) { %>
        class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>"
        <% } %>
        type="text" name="lastName" id="lastName" placeholder="Nazwisko: 2-60 znaków" label="Nazwisko" value="<%= cons.lastName %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorLastName" class="errors-text">
            <% if (validationErrors != null) { %> 
            <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                <%= validationErrors.find(e => e.path.includes('lastName')).message %>
            <% } %>
            <% } %>
        </span>

        <input 
        <% if (validationErrors != null) { %>
        class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>"
        <% } %>
        type="email" name="email" id="email" placeholder="E-mail: np. nazwa@greanleaf.pl" label="E-mail" value="<%= cons.email %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorEmail" class="errors-text">
            <% if (validationErrors != null) { %> 
            <% if (validationErrors.find(e => e.path.includes('email'))) { %>
                <%= validationErrors.find(e => e.path.includes('email')).message %>
            <% } %>
            <% } %>
        </span>

        <% if (formMode == 'createNew') { %>
        <input 
        <% if (validationErrors != null) { %>
        class="<%= validationErrors.find(e => e.path.includes('pass')) ? 'error-input' : '' %>"
        <% } %>
        type="text" name="pass" id="pass" placeholder="Hasło:" label="pass" />
        <span id="errorPass" class="errors-text">
            <% if (validationErrors != null) { %> 
            <% if (validationErrors.find(e => e.path.includes('pass'))) { %>
                <%= validationErrors.find(e => e.path.includes('pass')).message %>
            <% } %>
            <% } %>

        </span>
        <% } %>

        <% if (formMode == 'edit') { %>
            <input 
            <% if (validationErrors != null) { %>
            class="<%= validationErrors.find(e => e.path.includes('pass')) ? 'error-input' : '' %>"
            <% } %>
            type="text" name="pass" id="pass" placeholder="Hasło:" label="pass" />
            <span id="errorPass" class="errors-text">
                <% if (validationErrors != null) { %> 
                <% if (validationErrors.find(e => e.path.includes('pass'))) { %>
                    <%= validationErrors.find(e => e.path.includes('pass')).message %>
                <% } %>
                <% } %>
            </span>
            <% } %>

        <% if (formMode == 'showDetails') { %>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>Nazwa projektu</th>
                        <th>Ilość godzin</th>
                        <th>Rodzaj pracy</th>
                    </tr>
                </thead>
                <tbody>
                <% for (let e of cons.cons_projects) { %>
    
                    <tr>
                        <td><a href="/projects/details/<%= e.project.projectId %>"><%= e.project.name %></a></td>
                        <td><%= e.hours %></td>
                        <td><%= e.workType %></td>
                    </tr>
                <% } %>
                </tbody>
               
            </table>
        
            <% } %>

        <% if (formMode == 'showDetails') { %>
        <div class="section-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <a href="/consultants/edit/<%= cons.consId %>" class="button-edit">Edytuj</a>
            <a href="/consultants" class="button-cancel">Anuluj</a>
        </div>
    
        <% } %>

        <% if (formMode == 'edit') { %>
            <div class="section-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" class="button-edit" value="Zapisz"/>
                <a href="/consultants" class="button-cancel">Anuluj</a>
            </div>
        
        <% } %>

        <% if (formMode == 'createNew') { %>
            <div class="section-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" class="button-edit" value="Zapisz"/>
                <a href="/consultants" class="button-cancel">Anuluj</a>
            </div>
        
        <% } %>
        </form>
 
    </main>

<%- include('../../fragments/footer.ejs') %>      


<!--<h2>Nowy konsultant</h2>
            <form class="form" novalidate onsubmit="return validateForm();">
            
                <label for="firstName">Imię:<sup>*</sup></label>
                <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków"/>
                <span id="errorFirstName" class="errors-text"></span>
            
            
                <label for="lastName">Nazwisko:<sup>*</sup></label>
                <input type="text" name="lastName" id="lastName" placeholder="2-60 znaków"/>
                <span id="errorLastName" class="errors-text"></span>
            
                <label for="email">Email:<sup>*</sup></label>
                <input type="email" name="email" id="email" placeholder="imie.nazwisko@greanleaf.com" />
                <span id="errorEmail" class="errors-text"></span>          
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" value="Dodaj" class="button-edit" />
                <a href="pages/consultant/list.html" class="button-cancel">Anuluj</a>    
            </div>
        </form>  -->
            
    <!-- -->