<%- include('../../fragments/header.ejs') %>
    <main>
        
        <% if(modified == 'mod') { %>
            <div>
                <p class="message" >Zmodyfikowano konsultanta</p>
            </div>
        <% } %>

        <% if(modified == 'del') { %>
            <div>
                <p class="message" >Usunięto konsultanta</p>
            </div>
        <% } %>

        <% if(modified == 'assign') { %>
            <div>
                <p class="message" >Dodano konsultanta do projektu</p>
            </div>
        <% } %>

        <% if(modified == 'add') { %>
            <div>
                <p class="message" >Dodano nowego konsultanta</p>
            </div>
        <% } %>
        
        <h2>Lista konsultantów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>E-mail</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
            <% for (let cons of conss) { %>
                <tr>
                    <td><%= cons.firstName %></td>
                    <td><%= cons.lastName %></td>
                    <td><%= cons.email %></td>
                    <td>
                        <ul class="list-actions">
                            
                                <a href="/consultants/details/<%=cons.consId%>" class="list-actions-button-details">Szczegóły</a>
                            
                           
                                <a href="/consultants/edit/<%=cons.consId%>" class="list-actions-button-edit">Edytuj</a>
                            
                           
                                <a href="/consultants/delete/<%=cons.consId%>" class="list-actions-button-delete">Usuń</a>
                            
                        </ul>
                    </td>
                </tr>
            <% } %>    
            </tbody> 
        </table>
        <p><a href="/consultants/add" class="list-actions-button-add">Dodaj nowego konsultanta</a></p>
        <p><a href="/consultants/addtoproject" class="list-actions-button-add">Dodaj konsultanta do projektu</a></p>
    </main>
 
<%- include('../../fragments/footer.ejs') %>
