<%- include('../../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="/js/validationProjectForm.js"></script>
        <h2><%= pageTitle %></h2>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

        <input type="hidden" name="projectId" id="projectId" value="<%= project.projectId %>">
        <span></span>

        <input type="text" name="name" id="name" placeholder="2-60 znaków" value="<%= project.name %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorName" class="errors-text"></span>
        

        <input type="date" name="date" id="date" value="<%= project.date.toISOString().split('T')[0] %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorDate" class="errors-text"></span>

        <input type="text" name="location" id="location" placeholder="2-60 znaków" value="<%= project.location %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorLocation" class="errors-text"></span>

        <% if (formMode == 'showDetails') { %>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>Imie i nazwisko</th>
                        <th>Ilość godzin</th>
                        <th>Rodzaj pracy</th>
                    </tr>
                </thead>
                <tbody>
                <% for (let e of project.cons_projects) { %>
    
                    <tr>
                        <td><a href="/consultants/details/<%= e.consultant.consId %>"><%= e.consultant.firstName %> <%= e.consultant.lastName %></a></td>
                        <td><%= e.hours %></td>
                        <td><%= e.workType %></td>
                    </tr>
                <% } %>
                </tbody>
               
            </table>
        
            <% } %>

        <% if (formMode =='showDetails') { %>
        <div class="section-buttons">
            <a href="/projects/edit/<%= project.projectId %>" class="button-edit">Edytuj</a>
            <a href="/projects" class="button-cancel">Anuluj</a>
        </div>
    
        <% } %>

        <% if (formMode == 'edit' ) { %>
            <div class="section-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" class="button-edit" value="Zapisz"/>
                <a href="/projects" class="button-cancel">Anuluj</a>
            </div>
        
            <% } %>
        </form>
    </main>
<%- include('../../fragments/footer.ejs') %>    

        
        <!--<h2>Nowy projekt</h2>
             <form class="form" novalidate onsubmit="return validateForm();">
            
                <label for="number">Numer:<sup>*</sup></label>
                <input type="number" number="number" id="number" />
                <span id="errorNumber" class="errors-text"></span>

                <label for="name">Nazwa:<sup>*</sup></label>
                <input type="text" name="Name" id="name" placeholder="2-60 znaków"/>
                <span id="errorName" class="errors-text"></span>

                <label for="date">Data:<sup>*</sup></label>
                <input type="date" date="date" id="date" />
                <span id="errorDate" class="errors-text"></span>
            
                <label for="location">Location:<sup>*</sup></label>
                <input type="text" name="location" id="location" placeholder="2-60 znaków"  />
                <span id="errorLocation" class="errors-text"></span>
            
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" value="Dodaj" class="button-edit" />
                <a href="/pages/project/list.html" class="button-cancel">Anuluj</a>    
            </div>
            
        </form> -->
    <!-- -->
  

