<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista Projektów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Numer</th>
                    <th>Nazwa</th>
                    <th>Data</th>
                    <th>Lokalizacja</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
            <% for (let project of projects) { %>
                <tr>
                    <td><%= project.projectId %></td>
                    <td><%= project.name %></td>
                    <td><%= project.date.toISOString().split('T')[0] %></td>
                    <td><%= project.location %></td>
                    <td>
                        <ul class="list-actions">
                            
                                <a href="/projects/details/<%=project.projectId%>" class="list-actions-button-details">Szczegóły</a>
                            
                                <a href="/projects/edit/<%=project.projectId%>" class="list-actions-button-edit">Edytuj</a>
                          
                                <a href="/projects/delete/<%=project.projectId%>"class="list-actions-button-delete">Usuń</a>
                           
                        </ul>
                    </td>
                </tr>
            <% } %>
            </tbody> 
        </table>
        <p><a href="pages/project/form.html"class="list-actions-button-add">Dodaj nowy projekt</a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>
